*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    height: 70px;
    background-color: brown;
    color:white;
    padding: 14px 25px;
    font-size: 2rem;
}
span{
    padding: 20px 30px;
}
span:hover{
    background-color: green;
}